<div *ngIf="tours && tours.length" class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-6 col-10 card-margin" *ngFor="let tour of tours">
            <div *ngIf="errMessage" class="alert alert-danger mt-3">{{errMessage}}</div>
            <app-tour [tour]="tour"></app-tour>
        </div>
    </div>
</div>

<div *ngIf="tours && tours.length === 0 && !errMessage" class="err-message">
    <h1>No Tour Available...</h1>
</div>

<div *ngIf="errMessage" class="err-message">
    <h1>{{errMessage}}...</h1>
</div>