<nav *ngIf="isAuthenticated() && userRole()" class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand nav-log-text" routerLink="/tours">Tour</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item nav-margin-right">
                    <a class="nav-link header-anchor-text-color">My-Tours</a>
                </li>
                <li *ngIf="userRole() !== 'user'" class="nav-item nav-margin-right">
                    <a class="nav-link header-anchor-text-color">Create-Tour</a>
                </li>
                <li class="nav-item nav-margin-right">
                    <a class="nav-link header-anchor-text-color cursor-pointer" routerLink="/users/me">Me</a>
                </li>
                <li class="nav-item nav-margin-right">
                    <a class="nav-link header-anchor-text-color cursor-pointer" (click)="logout()">Logout</a>
                </li>
            </ul>
            <form class="d-flex" [ngClass]="userRole() !== 'user' ? 'nav-form' : 'nav-form-user'">
                <input [ngbTypeahead]="search" [resultFormatter]="formatter" (selectItem)="onSearchResultSelected($event)" class="form-control me-2" type="text"
                    placeholder="Search By Tour Name" aria-label="Search">
            </form>
        </div>
    </div>
</nav>