<div *ngIf="tour" class="card mb-5 mt-5 mx-auto card-details">
  <img class="card-img-top" [src]="tour.image" alt="Card image cap">
  <div class="card-body">
    <h1 class="card-title">Title: {{tour.title}}</h1>
    <p class="card-text">Organizer: {{tour.organizer}}</p>
    <p class="card-text">Total Capacity: {{tour.maxPersonCapacity}} Person</p>
    <p class="card-text">Amount For Booking: {{tour.amountPerHead}}</p>
    <p class="card-text">Tour Start Date: {{tour.startDate}}</p>
    <p class="card-text">Tour End Date: {{tour.endDate}}</p>
  </div>
</div>

<div *ngIf="errMessage">
  <h1 class="err-message">{{errMessage}}</h1>
</div>