<div class="tour-success-error container-fluid" [ngClass]="{'mt-3': errMessage}">
  <div class="row">
    <div *ngIf="errMessage" class="alert alert-danger">{{errMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
  </div>
</div>
<div *ngIf="tour" class="card mb-5 mx-auto card-details" [ngClass]="{'mt-5': !errMessage}">
  <img class="card-img-top" [src]="tour.image" alt="Card image cap">
  <div class="card-body">
    <h1 class="card-title">Title: {{tour.title}}</h1>
    <p class="card-text">Organizer: {{tour.organizer}}</p>
    <p class="card-text">Total Capacity: {{tour.maxPersonCapacity}} Person</p>
    <p class="card-text">Amount For Booking: {{tour.amountPerHead}}</p>
    <p class="card-text">Tour Start Date: {{tour.startDate}}</p>
    <p class="card-text">Tour End Date: {{tour.endDate}}</p>
    <button class="btn btn-danger mt-3" (click)="deleteTour(tour.id)">Delete Tour</button>
  </div>
</div>