<div class="container-fluid">
    <div class="row form-row">
        <div *ngIf="successMessage" class="alert alert-success col-md-6 col-sm-11 col-11" role="alert">
            {{successMessage}}</div>
    
        <div *ngIf="errMessage" class="alert alert-danger col-md-6 col-sm-11 col-11" role="alert">
            {{errMessage}}</div>
    </div>
    <div class="row form-row">
        <form class="col-md-6 col-sm-11 col-11 form forget-password-form" name="form" #forgetPasswordForm="ngForm"
            (ngSubmit)="onSubmit(forgetPasswordForm)">
            <label class="d-block form-label">Email</label>
            <input type="email" class="form-control d-block form-field-input" placeholder="example@gmail.com"
                name="email" ngModel #email="ngModel" required email />
            <div *ngIf="email.touched">
                <div *ngIf="email.errors?.['required']" class="alert alert-danger">
                    Email is required.
                </div>
                <div *ngIf="email.errors?.['email']" class="alert alert-danger">
                    Invalid email address.
                </div>
            </div>
            <button type="submit" class="btn btn-primary form-button" [disabled]="forgetPasswordForm.invalid">
                Submit
            </button>
        </form>
    </div>
</div>