<div class="container-fluid">
    <div class="row form-row">
        <div *ngIf="errMessage" class="alert alert-danger col-md-6 col-sm-11 col-11" role="alert">{{errMessage}}</div>
    </div>
    <div class="row form-row">
        <div *ngIf="successMessage" class="alert alert-success col-md-6 col-sm-11 col-11" role="alert">{{successMessage}}</div>
    </div>
    <div class="row mt-5 mb-3 form-row">
        <form class="col-md-6 col-sm-11 col-11 form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <label class="d-block form-label">Email Address</label>
                <input class="form-control d-block form-field-input" type="email" placeholder="example@gmail.com"
                    formControlName="email" required>
            </div>
            <div *ngIf="f.email.errors">
                <div *ngIf="f.email.errors.required && f.email.touched" class="alert alert-danger">Email is required</div>
                <div *ngIf="f.email.errors.email && f.email.touched" class="alert alert-danger">Email must be
                    a valid email
                    address</div>
            </div>
            <div>
                <label class="d-block form-label">Password</label>
                <input class="form-control d-block form-field-input" type="password" formControlName="password"
                    placeholder="Eample@123" required>
            </div>
            <div *ngIf="f.password.errors">
                <div *ngIf="f.password.errors.required && f.password.touched" class="alert alert-danger">Password is required
                </div>
                <div *ngIf="f.password.errors.pattern && f.password.touched" class="alert alert-danger">Password should
                    have minimum 8 characters and can have maximum 20 characters, at least 1 uppercase letter, 1
                    lowercase
                    letter and 1 number
                </div>
            </div>
            <button class="btn btn-primary form-button" [disabled]="!loginForm.valid">Login</button>
            <div class="d-flex flex-column mt-3">
                <h6 class="text-center">Not Having an account?</h6>
                <a class="text-center text-decoration-none" routerLink="/api/v1/signup">Signup</a>
                <a class="text-center text-decoration-none mt-1" routerLink="/api/v1/forgetPassword">Forget Password</a>
            </div>
        </form>
    </div>
</div>