<div class="container-fluid">
    <div class="row form-row">
        <div *ngIf="errMessage" class="alert alert-danger col-md-6 col-sm-11 col-11 mt-3" role="alert">{{errMessage}}</div>
    </div>
    <div class="row form-row">
        <div *ngIf="successMessage" class="alert alert-success col-md-6 col-sm-11 col-11 mt-3" role="alert">
            {{successMessage}}
        </div>
    </div>
    <div class="row form-row" [ngClass]="((errMessage && !successMessage) || (!errMessage && successMessage)) ? '' : 'mt-5'">
        <form class="col-md-6 col-sm-11 col-11 form" [formGroup]="createTourForm" (ngSubmit)="onSubmit()">
            <div>
                <label class="d-block form-label">Title</label>
                <input class="form-control d-block form-field-input" type="text" formControlName="title" required>
            </div>
            <div *ngIf="f.title.errors">
                <div *ngIf="f.title.errors.required && f.title.touched" class="alert alert-danger">Title is
                    required</div>
                <div *ngIf="f.title.errors.minlength && f.title.touched" class="alert alert-danger">Title
                    minimum
                    length should be 10 characters long</div>
                <div *ngIf="f.title.errors.maxlength && f.title.touched" class="alert alert-danger">Title
                    maximum
                    length can be 20 characters long</div>
            </div>
            <div>
                <label class="d-block form-label">Tourist Capacity</label>
                <input class="form-control d-block form-field-input" type="text" formControlName="maxPersonCapacity"
                    required>
            </div>
            <div *ngIf="f.maxPersonCapacity.errors">
                <div *ngIf="f.maxPersonCapacity.errors.required && f.maxPersonCapacity.touched"
                    class="alert alert-danger">Tourist Capacity is
                    required
                </div>
                <div *ngIf="f.maxPersonCapacity.errors.min && f.maxPersonCapacity.touched" class="alert alert-danger">
                    Tour
                    can have minimum 50 persons capacity</div>
                <div *ngIf="f.maxPersonCapacity.errors.max && f.maxPersonCapacity.touched" class="alert alert-danger">
                    Tour
                    can have maximum 100 persons capacity</div>
            </div>
            <div>
                <label class="d-block form-label">Amount Per Head</label>
                <input class="form-control d-block form-field-input" type="text" formControlName="amountPerHead"
                    required>
            </div>
            <div *ngIf="f.amountPerHead.errors">
                <div *ngIf="f.amountPerHead.errors.required && f.amountPerHead.touched" class="alert alert-danger">
                    Amount Per Head is
                    required
                </div>
                <div *ngIf="f.amountPerHead.errors.min && f.amountPerHead.touched" class="alert alert-danger">Tour
                    amount
                    can be minimum {{ 500 | currency:
                    'INR'}}.</div>
                <div *ngIf="f.amountPerHead.errors.max && f.amountPerHead.touched" class="alert alert-danger">Tour
                    amount
                    can be maximum {{20000 | currency: 'INR'}}.</div>
            </div>
            <div>
                <label class="d-block form-label">Start Date <button type="button" class="btn btn-light"
                        data-toggle="tooltip" data-placement="top"
                        title="If you will not enter start date then start date will be a day after today, Format: 2023-09-18 07:44:28">
                        ?</button></label>
                <input class="form-control d-block form-field-input" type="text" formControlName="startDate"
                    placeholder="Optional">
            </div>
            <div>
                <label class="d-block form-label">End Date <button type="button" class="btn btn-light"
                        data-toggle="tooltip" data-placement="top"
                        title="If you will not enter end date then end date will be two days after today Format: 2023-09-18 07:44:28">
                        ?</button></label>
                <input class="form-control d-block form-field-input" type="text" formControlName="endDate"
                    placeholder="Optional">
            </div>
            <button class="btn btn-primary form-button" [disabled]="!createTourForm.valid">Create Tour</button>
        </form>
    </div>
</div>