<div class="container-fluid ">
    <div class="row form-row">
        <div *ngIf="errMessage" class="alert alert-danger col-md-6 col-sm-11 col-11" role="alert">{{errMessage}}</div>
    </div>
    <div class="row form-row">
        <div *ngIf="successMessage" class="alert alert-success col-md-6 col-sm-11 col-11" role="alert">{{successMessage}}
        </div>
    </div>
    <div class="row mt-5 form-row">
        <form class="col-md-6 col-sm-11 col-11 form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div>
                <label class="d-block form-label">First Name</label>
                <input class="form-control d-block form-field-input" type="text" formControlName="firstName" required>
            </div>
            <div *ngIf="f.firstName.errors">
                <div *ngIf="f.firstName.errors.required && f.firstName.touched" class="alert alert-danger">First Name is
                    required</div>
                <div *ngIf="f.firstName.errors.minlength && f.firstName.touched" class="alert alert-danger">First Name
                    minimum
                    length should be 2 characters long</div>
                <div *ngIf="f.firstName.errors.maxlength && f.firstName.touched" class="alert alert-danger">First Name
                    maximum
                    length can be 15 characters long</div>
            </div>
            <div>
                <label class="d-block form-label">Last Name</label>
                <input class="form-control d-block form-field-input" type="text" formControlName="lastName" required>
            </div>
            <div *ngIf="f.lastName.errors">
                <div *ngIf="f.lastName.errors.required && f.lastName.touched" class="alert alert-danger">Last Name is
                    required
                </div>
                <div *ngIf="f.lastName.errors.minlength && f.lastName.touched" class="alert alert-danger">Last Name
                    minimum
                    length should be 5 characters long</div>
                <div *ngIf="f.lastName.errors.maxlength && f.lastName.touched" class="alert alert-danger">Last Name
                    maximum
                    length can be 15 characters long</div>
            </div>
            <div>
                <label class="d-block form-label">Email Address</label>
                <input class="form-control d-block form-field-input" type="email" formControlName="email" required>
            </div>
            <div *ngIf="f.email.errors">
                <div *ngIf="f.email.errors.required && f.email.touched" class="alert alert-danger">Email is required
                </div>
                <div *ngIf="f.email.errors.email && f.email.touched" class="alert alert-danger">Email must be
                    a valid email
                    address</div>
            </div>
            <div>
                <label class="d-block form-label">Password</label>
                <input class="form-control d-block form-field-input" type="password" formControlName="password"
                    required>
            </div>
            <div *ngIf="f.password.errors">
                <div *ngIf="f.password.errors.required && f.password.touched" class="alert alert-danger">Password is
                    required
                </div>
                <div *ngIf="f.password.errors.pattern && f.password.touched" class="alert alert-danger">Password should
                    have minimum 8 characters and can have maximum 20 characters, at least 1 uppercase letter, 1
                    lowercase
                    letter and 1 number
                </div>
            </div>
            <div>
                <label class="d-block form-label">Confirm Password</label>
                <input class="form-control d-block form-field-input" type="password" formControlName="confirmPassword"
                    [appConfirmPassword]="'password'" required>
            </div>
            <div *ngIf="f.confirmPassword.errors">
                <div *ngIf="f.confirmPassword.errors.required && f.confirmPassword.touched" class="alert alert-danger">
                    Confirm
                    password is required
                </div>
                <div *ngIf="f.confirmPassword.errors.pattern && f.confirmPassword.touched" class="alert alert-danger">
                    Confirm
                    Password should
                    have minimum 8 characters and can have maximum 20 characters long, at least 1 uppercase letter, 1
                    lowercase
                    letter and 1 number and one symbol.
                </div>
                <div *ngIf="f.confirmPassword.errors.confirmPasswordError && f.confirmPassword.touched && !f.confirmPassword.errors.pattern"
                    class="alert alert-danger">
                    Confirm password should match with password
                </div>
            </div>
            <button class="btn btn-primary form-button" [disabled]="!signupForm.valid">Signup</button>
            <div class="d-flex flex-column mt-3">
                <h6 class="text-center">Already have an account?</h6>
                <a class="text-center text-decoration-none" routerLink="/api/v1/login">Login</a>
            </div>
        </form>
    </div>
</div>